<%- include('./partials/head') %>

<main>
    <section class="input_notes">
        <h2 class="notes_h2">Uw notities</h2>
        <p>geef de score weer</p>
        <ul class="show_notes">

            <% feedback.forEach(message =>{ %>
                <li class="">dit is van justus het id<%= message.id %></li>
                <li class="">dit is van justus de ligging<%= message.ligging %></li>
                <li class="">dit is van justus ov <%= message.ov %></li>
                <li class="">dit is users<%= message.user %></li>
                <li class=""><%= message.algemeen %></li>
                <li class=""><%= message.badkamer %></li>
                <li class="">de notitie<%= message.note %></li>


        </ul>
        <form method="PATCH" action="/score/<%= message.house %>" class="inputfields like" >
            <input type="hidden" value="<%= message.house %>" name="actie" >
            <!--                inputfields niet aanpassen vanwege de client side javascript-->


            <label for="algemeen" class="label-inputfield"><span>ligging:</span>
                <input type="number" id="algemeen" name="algemeenNumber" value="<%= message.ligging %>"
                       placeholder="0">
            </label>
            <label for="keuken" class="label-inputfield"><span>ov:</span>
                <input type="number" id="keuken" name="keukenNumber" value="<%= message.ov %>">
            </label>
            <label for="Badkamer" class="label-inputfield"><span>type:</span>
                <input type="number" id="Badkamer" name="badkamerNumber" value="<%= message.type %>">
            </label>
            <label for="Badkamer" class="label-inputfield"><span>algemeen:</span>
                <input type="number" id="Badkamer" name="badkamerNumber" value="<%= message.algemeen %>">
            </label>
            <label for="Badkamer" class="label-inputfield"><span>badkamer:</span>
                <input type="number" id="Badkamer" name="badkamerNumber" value="<%= message.badkamer %>">
            </label>
            <label for="Badkamer" class="label-inputfield"><span>tuin:</span>
                <input type="number" id="Badkamer" name="badkamerNumber" value="<%= message.tuin %>">
            </label>
            <label for="Badkamer" class="label-inputfield"><span>keuken:</span>
                <input type="number" id="Badkamer" name="badkamerNumber" value="<%= message.keuken %>">
            </label>
            <button type="submit" class="button-notes likes">Opslaan</button>

        </form>

        <% }) %>
    </section>
</main>