<%- include('./partials/head') %>
<main class="">

    <section class="">
        <h1 class="title_page">Uw huizen lijsten</h1>
        <p class="hr_bottom">Hier kunt u zien welke lijsten u deelt samen met anderen </p>


    </section>

    <div class="div-grid-house-lists">

        <% lists.forEach(list => { %>

            <article class="article_houses">
                <ol class="article_houses__ol_names-of-houses">

                    <li>
                        <a href="/lijsten/<%= list.id %>" aria-label="ga naar deze lijst"></a>
                        <picture>


                            <source srcset="https://fdnd-agency.directus.app/assets/<%= list.houses_array[0].image.id %>?width=600&height=400&fit=cover&format=avif"
                                    type="image/avif">

                            <source srcset="https://fdnd-agency.directus.app/assets/<%= list.houses_array[0].image.id %>?width=600&height=400&fit=cover&format=webp"
                                    type="image/webp">


                            <img src="https://fdnd-agency.directus.app/assets/<%= list.houses_array[0].image.id %>?width=600&height=400&fit=cover"
                                 alt="House Image" width="<%= list.houses_array[0].image.width %>"
                                 height=" <%= list.houses_array[0].image.height %>" class="article_houses_img"
                            >
                        </picture>
                    </li>
                    <li class="  article_houses__li_position_items_text">
                        <a
                                href="/lijsten/<%= list.id %>"
                                class="article_houses__link_go_to_list"><%= list.title %>
                        </a>
                    </li>
                    <li class=" article_houses__li_position_items_text">
                        Huizen: <%= list.houses_array.length %>
                    </li>


                </ol>
                <a href="/lijsten/<%= list.id %>" class="article_houses_link-to-list"
                   aria-label="ga naar deze lijst">
                    <button type="button" class="article_houses__button">Bekijk lijst
                    </button>
                </a>

            </article>

        <% }) %>
    </div>


</main>
<%- include('./partials/foot') %>
