<%- include('./partials/head') %>
<main class="">

    <section class="">
        <h1 class="title_page">Uw huizen lijsten</h1>
        <p class="hr_bottom_p">Hier kunt u zien welke lijsten u deelt samen met anderen </p>


    </section>

    <div class="div-grid-house-lists">

        <% lists.forEach(list => { %>

                <ol class="ol_names-of-houses">

<!--                  todo  een before gebruiken voor het klikbaar maken van de gehele kaart zie code lesley-->
                    <li>
                        <a href="/lijsten/<%= list.id %>" aria-label="ga naar deze lijst"></a>
                        <picture>


                            <source srcset="https://fdnd-agency.directus.app/assets/<%= list.houses_array.firsthouse %>?width=400&height=300&fit=cover&format=avif"
                                    type="image/avif">

                            <source srcset="https://fdnd-agency.directus.app/assets/<%= list.houses_array.firsthouse %>?width=400&height=300&fit=cover&format=webp"
                                    type="image/webp">


                            <img src="https://fdnd-agency.directus.app/assets/<%= list.houses_array.firsthouse %>?width=400&height=300&fit=cover"
                                 alt="Image of the house" width="<%= list.houses_array.firsthouse %>"
                                 height=" <%= list.houses_array.firsthouse %>" class="names-of-houses__img"
                            >
                        </picture>
                    </li>
                    <li class="names-of-houses__li">
                        <a
                                href="/lijsten/<%= list.id %>"
                                class="names-of-houses__link_go_to_list"><%= list.title %>
                        </a>
                    </li>
                    <li class=" names-of-houses__li">
                        Huizen: <%= list.houses_array.length %>
                    </li>
                    <li class=" names-of-houses__li">
                        <a href="/lijsten/<%= list.id %>" class=""
                           aria-label="ga naar deze lijst">
                            <button type="button" class="names-of-houses__button">Bekijk lijst
                            </button>
                        </a>
                    </li>


                </ol>


        <% }) %>
    </div>


</main>
<%- include('./partials/foot') %>
