<%- include('./partials/head') %>
<main class="">

    <section class="title_description">
        <h2>Uw gedeelde huizen lijsten</h2>
        <p>Hier kunt u zien welke lijsten u deelt samen met anderen </p>


    </section>

        <div class="grid-house-lists">

            <% lists.forEach(list => { %>

                <article>
                    <ol class="names-of-houses">

                        <li><a href="/lijsten/<%= list.id %>"></a>


                            <img src="https://fdnd-agency.directus.app/assets/<%= list.houses_array[0].image %>" width="200" alt="House Image" class=" image_house_icon">
                        </li>
                        <li class="height-li-items  height-li-items-title position_items_text"><a
                                    href="/lijsten/<%= list.id %>"
                                    class="link-to-house"><%= list.title %></a></li>
                        <li class="height-li-items omschrijving_li_items position_items_text">Huizen: <%= list.houses_array.length %></li>
                        <button type="button" class="button-got-list"><a href="/lijsten/<%= list.id %>">Bekijk
                                lijst</a></button>

                    </ol>

                </article>

            <% }) %>
        </div>




</main>
<%- include('./partials/foot') %>
