<%- include('./partials/head') %>

<main>


    <section class="">
        <h1 class="title_page">Gebruikers</h1>
        <p class="hr_bottom">Klik op je icoontje om je eigen lijst of de lijst van een ander te zien.</p>

            <ul class="ul-users">
                <% users.forEach(users => { %>
                <li class="users__li">

                    <picture>
                        <source srcset="https://fdnd-agency.directus.app/assets/<%= users.id_avatar %>?width=600&height=400&fit=cover&format=avif" type="image/avif">

                        <source srcset="https://fdnd-agency.directus.app/assets/<%= users.id_avatar%>?width=600&height=400&fit=cover&format=webp" type="image/webp">


                        <img src="https://fdnd-agency.directus.app/assets/<%= users.id_avatar %>?width=600&height=400&fit=cover"
                             alt="House Image" width="<%= users.width %>"
                             height=" <%= users.height %>" class="users__show_avatars"
                        >
                    </picture>

                </li>
                    <% }) %>


            </ul>


    </section>

    <section class="description-section">
        <h2>Omschrijving</h2>
        <ul class="description-section__ul">
            <li><%= list.description %></li>
        </ul>
    </section>

    <div class="list_houses_grid">

        <% list.houses.forEach(house => { %>


                <ul class="list_houses_grid__ul">
                    <li>
                        <picture>
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>.webp" type="image/webp"

                            >   <source srcset="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>.avif" type="image/avif"

                            >
                        <img class="list_houses_grid__image"
                             src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image.id %>"
                             width="<%= house.f_houses_id.poster_image.width %>"
                             height="<%= house.f_houses_id.poster_image.height %>"
                             alt="image house">
                        </picture>

                    </li>
                    <li class="list_houses_grid__li">
                        <a href="../Detailpage/<%= house.id %>" class="list_houses_grid__link-to-detailpage"
                           aria-label="ga naar dit huis"><%= house.f_houses_id.street %>
                            <%= house.f_houses_id.house_nr %><%= house.f_houses_id.house_nr_addition %>
                        </a>
                    </li>

                    <li class="list_houses_grid__li"><%= house.f_houses_id.postal_code %> <%= house.f_houses_id.city %></li>

                    <li class="list_houses_grid__li list_houses-grid__price">€<%=new Intl.NumberFormat("de-DE").format( house.f_houses_id.price)%> </li>
                    <li class=" list_houses_grid__li"><%= house.f_houses_id.agent %></li>
                    <li class="">
                        <a class="list_houses_grid__link-to-score" href="../score/<%= house.f_houses_id.id %>">

                            <button class="list_houes_grid__button">Bekijk score

                        </button>  </a>


                </ul>

        <% }); %>
    </div>
</main>