<%- include('./partials/head') %>

<main>


    <section class="users_section">
        <h2>Gebruikers</h2>
        <p>Klik op je icoontje om je eigen lijst of de lijst van een ander te zien.</p>
        <div class="">
            <img src="../images/geel.jpg" class="user_profiles" alt="user geel">
            <img src="../images/blauw.jpg" class="user_profiles" alt="user geel">
            <img src="../images/rood.jpg" class="user_profiles" alt="user geel">
            <img src="../images/groen.jpg" class="user_profiles" alt="user geel">
        </div>

    </section>

    <section class="users_section">
        <h2>Omschrijving</h2>
        <ul class="output_other_users">
            <li><%= list.description %></li>
        </ul>
    </section>

    <div class="grid_container_houses_lijst">

        <% list.houses.forEach(house => { %>

            <article class="houses">
                <ul class="image_house_data">
                    <li><img class="image_size"
                             src="https://fdnd-agency.directus.app/assets/<%= house.f_houses_id.poster_image %>"
                             alt="image house"></li>
                    <li class="child_li_house_card">
                        <a href="../Detailpage/<%= house.id %>" class="special_link"><%= house.f_houses_id.street %>
                            <%= house.f_houses_id.house_nr %><%= house.f_houses_id.house_nr_addition %>
                        </a>
                    </li>

                    <li class="child_li_house_card"><%= house.f_houses_id.postal_code %> <%= house.f_houses_id.city %></li>
                    <li class="child_li_house_card price_li">€<%= house.f_houses_id.price %></li>
                    <li class=" agent_long_text"><%= house.f_houses_id.agent %></li>
                    <li class="child_li_house_card">
                        <button class="button_score_page">
                            <a class="special_link" href="../score/<%= house.f_houses_id.id %>">Bekijk de score
                            </a>
                        </button>


                </ul>


            </article>
        <% }); %>
    </div>
</main>