<%- include('./partials/head') %>
<main>


    <section>
        <h1>score</h1>
        <p>Hier kunt u een score geven over het huis.</p>

        <ul class="section_house_details">

            <% if (house.poster_image) { %>
            <li>


                <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>" loading="lazy"
                     width="<%= house.poster_image.width %>"
                     height="<%= house.poster_image.height %>"
                     class="house_details_img__image_house_score"
                     alt="image-house">
                <% } %>
            </li>
            <li class=""><%= house.street %> <%= house.house_nr %> </li>
            <li class=""><%= house.city %> <%= house.postal_code %></li>

        </ul>


    </section>


    <div class="gridcontainer_div_section">
        <section class="section_score_field_numbers">


            <h2>score</h2>
            <p>Geef een score over het huis van 0 tot en met 10.</p>


            <form method="POST" action="/score/<%= house.id %>" class="inputfields like">
                <input type="hidden" value="<%= house.id %>" name="actie">
                <!--                inputfields niet aanpassen vanwege de client side javascript-->


                <label for="algemeen" class="label-inputfield"><span>algemeen:</span>
                    <input type="number" id="algemeen" name="algemeenNumber" value=""
                           placeholder="0">
                </label>
                <label for="keuken" class="label-inputfield"><span>keuken:</span>
                    <input type="number" id="keuken" name="keukenNumber" value="" placeholder="0">
                </label>
                <label for="Badkamer" class="label-inputfield"><span>Badkamer:</span>
                    <input type="number" id="Badkamer" name="badkamerNumber" value=""
                           placeholder="0">
                </label>
                <label for="tuin" class="label-inputfield"><span>tuin:</span>
                    <input type="number" id="tuin" name="tuinNumber" value="" placeholder="0">
                </label>
                <button type="submit" class="button-notes likes">Opslaan</button>

            </form>
        </section>
        <section class="text_input_notes">
            <h2 class="">Notities</h2>
            <p>Hier kunt u een notitie achterlaten.</p>
            <form method="POST" action="/score/<%= house.id %>" class="text-input-notes-form">
                <input type="hidden" value="<%= house.id %>">
                <label for="bericht" aria-label="laat uw noitite achter">
                    <textarea id="note-area" name="notes_shown"></textarea>
                </label>
                <button type="submit" class="button-notes">Opslaan</button>

            </form>
        </section>

        <section class="show_score_house">
            <h2 class="">Beoordeling</h2>

            <div class=" show_score_house__output_number">
                <!--            geen foreach loop omdat house objet is en geen array waar je door heen kan-->
                <%- include('partials/showScore', {result: house, url: "house"}); %>

            </div>
        </section>


        <section class="input_notes">
            <h2 class="notes_h2">Uw notities</h2>
            <ul class="show_notes">
                <% notities.forEach(message =>{ %>
                    <li class=""><%= message %></li>
                <% }) %>
            </ul>
        </section>

    </div>


    <div class="score_others_grid_container">
        <h2 class="">Bekijk de beoordelingen van anderen</h2>
        <section class=" ">
            <ul class="score_others_grid_container_title">
                <% users.forEach(users => { %>
                    <li class="li_users">
                        <h2><%= users.name %></h2>
                        <picture>
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= users.id_avatar %>.webp"
                                    type="image/webp">
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= users.id_avatar %>.avif"
                                    type="image/avif"

                            >
                            <img src="https://fdnd-agency.directus.app/assets/<%= users.id_avatar %>"
                                 alt="House Image" width="<%= users.width %>"
                                 height=" <%= users.height %>" class="show_avatars"
                            >
                        </picture>
                        <ul class="show_score_house__output_number">

                            <%- include('partials/showScore', {result: house}); -%>

                        </ul>
                    </li>
                <% }) %>

            </ul>


        </section>
    </div>
</main>
