<%- include('./partials/head') %>
<main>


    <section>
        <h1>score</h1>
        <p>Hier kunt u een score geven over het huis.</p>

        <ul class="house_details">

            <% if (house.poster_image) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>"
                     width="<%= house.poster_image.width %>"
                     height="<%= house.poster_image.height %>"
                alt="image-house">
            <% } %>
            <li class=""><%= house.street %> <%= house.house_nr %> </li>
            <li class=""><%= house.city %> <%= house.postal_code %></li>

        </ul>


    </section>


    <div class="">
        <section class="score_field_numbers">


            <h2>score</h2>
            <p>Geef een score over het huis van 0 tot en met 10.</p>


            <form method="POST" action="/score/<%= house.id %>" class="inputfields">
                <input type="hidden" value="<%= house.id %>">


                <label for="algemeen" class="label-inputfield"><span>algemeen:</span>
                    <input type="number" id="algemeen" name="algemeenNumber" value=""
                           placeholder="0">
                </label>
                <label for="keuken" class="label-inputfield"><span>keuken:</span>
                    <input type="number" id="keuken" name="keukenNumber" value="" placeholder="0">
                </label>
                <label for="Badkamer" class="label-inputfield"><span>Badkamer:</span>
                    <input type="number" id="Badkamer" name="badkamerNumber" value=""
                           placeholder="0">
                </label>
                <label for="tuin" class="label-inputfield"><span>tuin:</span>
                    <input type="number" id="tuin" name="tuinNumber" value="" placeholder="0">
                </label>
                <button type="submit" class="submit- button_notes notes">Opslaan</button>

            </form>
        </section>
        <section class="text_input_notes">
            <h2 class="">Notities</h2>
            <p>Hier kunt u een notitie achterlaten.</p>
            <form method="POST" action="/score/<%= house.id %>" class="chatbox">
                <input type="hidden" value="<%= house.id %>">
                <label for="bericht">
                    <textarea id="test" name="test"></textarea>
                </label>
                <button type="submit" class="">Opslaan</button>

            </form>
        </section>

        <section class="show_score_house">
            <h2 class="">Beoordeling</h2>
            <div class="output_other_users">

                <%- include('partials/showScore', {result: house}); %>
            </div>
        </section>


        <section class="input_notes">
            <h2 class="notes_h2">Uw notities</h2>
            <ul class="output_other_users">
                <% notities.forEach(message =>{ %>
                    <li class="house_details_text"><%= message %></li>
                <% }) %>
            </ul>
        </section>

    </div>


    <div class="score_others_grid_container">
        <h2 class="title">Bekijk de beoordelingen van anderen</h2>
        <section class="users_score_rating first_user">

            <p> <img src="../assets/images/user_profile.png" class="" alt="user" width="200px"></p>

            <h2 class="">Jan</h2>


            <div class="output_other_users">

                <%- include('partials/showScore', {result: house}); %>

            </div>

        </section>
        <section class="users_score_rating second_user">
            <p> <img src="../assets/images/user_profile.png" class="" alt="user" width="200px"></p>

            <h2 class="">Piet</h2>
            <div class="output_other_users">

                <%- include('partials/showScore', {result: house}); %>
            </div>

        </section>
    </div>
</main>
