<%- include('./partials/head') %>
<h1>dit is de test score</h1>

<h2>notitie</h2>



<h2>Ratings:</h2>
<ul class="score">
    <% for (const key in rating) { %>
        <li>
            <%= key %>: <%= rating[key] %>
        </li>
    <% } %>
</ul>


<h3>gegevens over het his</h3>

<ul class="ul_house_details">

    <% if (house.poster_image) { %>
    <li>
        <picture>
            <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover&format=webp"
                    type="image/webp">
            <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover&format=avif"
                    type="image/avif"
            >
            <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover"
                 width="<%= house.poster_image.width %>"
                 height="<%= house.poster_image.height %>"
                 class="house_details_img__image"
                 alt="image-house">
            <% } %>
        </picture>
    </li>
    <li class="house_details__li"><%= house.street %> <%= house.house_nr %> </li>
    <li class=""><%= house.city %> <%= house.postal_code %></li>
    <li class="house_details_li__price_house">€<%= new Intl.NumberFormat("de-DE").format(house.price) %></li>

</ul>
<h1>aanpassen van de data</h1>
<form method="POST" action="/test/<%= house.id %>" class="databse">
    <input type="hidden" value="<%= house.id %>" name="actie" required>
    <!--                inputfields niet aanpassen vanwege de client side javascript-->


    <label for="algemeen" class="form_inputfields__label-inputfield"><span>algemeen:</span>
        <input type="number" id="algemeen" name="algemeenNumber" value=""
               placeholder="0">
    </label>
    <label for="keuken" class="form_inputfields__label-inputfield"><span>keuken:</span>
        <input type="number" id="keuken" name="keukenNumber" value="" placeholder="0" >
    </label>
    <label for="Badkamer" class="form_inputfields__label-inputfield"><span>Badkamer:</span>
        <input type="number" id="Badkamer" name="badkamerNumber" value=""
               placeholder="0">
    </label>
    <label for="tuin" class="form_inputfields__label-inputfield"><span>tuin:</span>
        <input type="number" id="tuin" name="tuinNumber" value="" placeholder="0 " >
    </label>
    <label for="new" class="form_inputfields__label-inputfield"><span>geeef een neiwue naam op:</span>
        <input type="text" id="tuin" name="new" value="" placeholder=" " >
    </label>
    <label for="new_score" class="form_inputfields__label-inputfield"><span>geeef een neiwue naam op:</span>
        <input type="number" id="tuin" name="new_score" value="" placeholder="0" >
    </label>
    <button type="submit" class="section-give_notese__buton">Opslaan</button>
    <!--                <div class="loader hide_loader"></div>-->

</form>

<section class="section-give_notes">
    <h2 class="">Notities</h2>
    <p>Hier kunt u een notitie achterlaten.</p>

    <form method="POST" action="/test/<%= house.id %>" class="section-give_notes__form">
        <input type="hidden" value="<%= house.id %>">
        <label for="bericht" aria-label="laat uw noitite achter">
            <textarea id="note" name="note"></textarea>
        </label>
        <button type="submit" class="section-give_notese__buton">Opslaan</button>

    </form>

</section>

<ul class="show_data">
    <li></li>
</ul>

